.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 152px;
  @media (max-width: 1247px) {
    margin-bottom: 100px;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 50px;
  }

  &__logo {
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    text-align: start;
  }

  &__text {
    font-size: 14px;
    color: #fff;
    opacity: 0.8;

    &--yellow {
      color: #FEE040;
    }

    &--big {
      font-size: 20px;
      @media (max-width: 767px) {
        font-size: 16px;
        opacity: 1;
      }
    }
  }

  &__tel {
    text-align: end;
    margin-left: 40px;
    @media (max-width: 767px) {
      margin-left: 0;
    }
  }
}
