.header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 152px 0;

  &__wrapper {
    min-width: 460px;
    display: flex;
    justify-content: space-between;
  }

  &__text {
    margin: 0 0 6px;
    font-size: 12px;
    color: #fff;
    opacity: 0.8;
  }

  &__email {
    font-size: 14px;
    line-height: 1.5;
    color: #FEE040;
  }

  &__tel {
    text-align: end;
  }

  &__tel-link {
    font-size: 20px;
  }
}
