.services {
  min-height: 300px;
  padding: 100px 0;
  background-image: linear-gradient(180deg, rgba(0, 78, 134, 0.8) 0%, rgba(10, 65, 104, 0.8) 100%), url("images/uslugi_bgr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  &__title {
    font-size: 20px;
    letter-spacing: 20px;
    text-transform: uppercase;
    color: #FEE040;
  }
  &__text {
    font-size: 32px;
    line-height: 42px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #fff;
  }

  &__cards {
    margin: 20px 0;
    display: flex;
    flex-wrap: nowrap;
    //overflow: auto;
  }
}