.sectionAbilities {
  margin: 115px 0;
  @media (max-width: 820px) {
    margin: 60px 0 0 0;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: start;

    @media (max-width: 820px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__content {
    display: flex;
    align-items: start;

    @media (max-width: 820px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__text {
    font-size: 11px;
    line-height: 19px;
    max-width: 390px;

    @media (max-width: 820px) {
      margin: 10px 0;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;

    @media (max-width: 820px) {
      flex-direction: column;
      margin-top: 24px;
    }
  }
}