*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  background: #fff;
  font-size: 20px;
  color: #252b42;
  font-weight: 500;
  font-family: "Open Sans";

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 78, 134, 0.9);
    margin: 0;
  }
}

.container {
  width: 100%;
  max-width: 1420px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;

  @media (max-width: 1419px) {
    max-width: 1190px;
  }

  @media (max-width: 1247px) {
    max-width: 916px;
  }

  @media (max-width: 959px) {
    max-width: 768px;
  }

  @media (max-width: 767px) {
    max-width: 320px;
  }
}
